* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.form-container {
  display: grid;
  gap: 1rem;
}

.title {
  color: #88888f;
  font-size: 1.5rem;
}

.form-input {
  margin-right: 1.2rem;
  width: 44%;
  border: solid 1.2px #e8e8e8;
  height: 2.4rem;
  padding: 1.2rem;
  border-radius: 0.2rem;
}

.form-input::placeholder {
  color: #88888f;
}

.form-btn {
  color: #fff;
  background-color: #0290ff;
  border: none;
  height: 1.8rem;
  width: 6rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

/* BooksItem */

.books-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  border: solid 2px #e8e8e8;
  border-radius: 0.4rem;
  background-color: #fff;
}

.books-item-title {
  display: grid;
  gap: 1.1rem;
  width: 51%;
}

.books-item-category {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.books-title {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.books-item-author {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.books-item-btns {
  display: flex;
  gap: 1rem;
  color: #4386bf;
  border: none;
  background-color: transparent;
  border-right: 3.1px solid #e8e8e8;
  cursor: pointer;
}

.books-item-btns button:first-child {
  padding-left: 0;
}

.books-item-btns button:last-child {
  border: none;
}

.books-item-btns:hover {
  color: #0290ff;
}

.books-item-progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 49%;
}

.books-item-progress-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
}

.books-item-progress-circular {
  border-radius: 50%;
  width: 4.24rem;
  height: 4.24rem;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.books-item-progress-percent {
  font-size: 2.1rem;
  font-weight: 400;
}

.books-item-progress-span {
  color: #a9a9a9;
}

.books-item-progress-sect-divider {
  height: 3.9rem;
  width: 0.1rem;
  background-color: #e8e8e8;
}

.books-item-progress-chap-sect {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.chap-title {
  color: #a9a9a9;
}

.chap-num {
  font-weight: 400;
}

.books-item-updat-prog-btn {
  color: #fff;
  background-color: #0290ff;
  border: none;
  height: 2.1rem;
  width: 11rem;
  border-radius: 0.1rem;
  cursor: pointer;
}

.bookstor-sect {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  background-color: #fafafa;
  padding: 4%;
  padding-bottom: 9%;
}

.bookstor-sect hr {
  background-color: #898989;
  margin: 1.1rem 0;
}
